@charset "UTF-8";
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(to right, #8C1F28, #591C21 );
}
main {
    background-color: #F2F2F2;
    text-align: justify;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px#d9252581;
    border-radius: 10px;
}

h1 {
color: #591C21;
text-shadow: 1px 1px 2px #591c21a8;
text-align: center;

}

    h2{
color: #044040;
text-shadow: 1px 1px 2px#044040b7;
    }

    p {
        text-align: justify;
    }