@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
     background-color: rgb(161, 161, 161);
}

h1 {
    text-align: center;
    padding: 10px;
}

#burguer {
    color: white;
    display: block;
    background-color: rgb(59, 59, 59);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
    text-align: center;
}

menu a {
    background-color: rgb(90, 89, 89);
    border-top: 2px solid gray;
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

menu a:hover {
    background-color: rgb(124, 124, 124);
}

menu ul {
    list-style-type: none;
}

main {
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

main h2 {
    margin-bottom: 20px;
}

main p {
    margin-bottom: 20px;
    text-indent: 20px;
}