@charset "UTF-8";

body {
    padding: 0px;
    margin: 0px;
}

header > h1 {
    background-color: gray;
    padding: 20px;
    margin: 0px;
    text-align: center;

}
menu {
    display: none;
}

article {
    width: 600px;
    text-align: center;
    display: block;
    margin: auto;
}

article::after {
    content: 'Página empresa no site Vasco da Gama.com.br';
}